{% extends 'base.html.twig' %}

{% block title %}Login de usuarios{% endblock %}

{% block body %}
    
    {% if error %}
        <div class="alert alert-error">
            {{ error.messagekey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    
    <form action="{{ path('app_login') }}" method="POST">
        <div class="container h-100 ">
        <div class="row h-60 justify-content-center align-items-center ">
            <div class="col-5 bg-white rounded my-3 p-5">
                <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar sesi칩n</h1>
    <label for="inputEmail">Correo Electr칩nico</label>
    <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus><br/>
    <label for="inputPassword">Contrase침a</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <br/>
    <button class="btn btn-primary" type="submit">
        Iniciar sesi칩n
    </button>
</form>
            </div>
        </div>
    </div>

{% endblock %}