{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
{% for message in app.flashes('exito') %}
        <div class="alert alert-success">
           
        </div>
    {% endfor %}
    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center ">
            <div class="col-5 bg-white rounded my-3 p-5">
                <h1 class="h3 mb-3 font-weight-normal text-center">Registrarse</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}
